# Linux
*.log
*.swp

# Apple
.DS_Store

# Ansible
*.retry

# Python
__pycache__/
*.py[cod]

# SQLite
*.sdb

# Jekyll
_site
.sass-cache
.jekyll-metadata

# Others
working
secrets*
hosts-inventory*
ansible/eve-ng/images
ansible/eve-ng/files
