{% for interface in interfaces%}
{% if prod is defined %}
interface {{interface.prod_if}}
{% else %}
interface {{interface.test_if}}
{% endif %}
 description {{interface.description}}
 ip address {{interface.ipv4_addr}} {{interface.ipv4_mask}}
!
{% endfor %}
