<!DOCTYPE html>
<html>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.structure.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.theme.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/cupertino/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <style>
        html, body, #diagramContainer {
            height: 100%;
            margin: 0px;
        }
        .node {
            position: absolute;
        }

        .node_label {
            position: absolute;
            color: #000000;
            font-family: Helvetica;
            font-weight: bold;
            font-size: 0.8em;
            width: 5em;
        }

        .node_interface_label {
            background-color: #464964;
            border: 2px solid #464964;
            border-radius: 8px;
            color: #ffffff;
            font-family: Helvetica;
            font-size: 8pt;
            font-weight: bold;
            padding: 0px 2px 0px 2px;
        }

        .node_selected {
            filter: opacity(30%);
        }
    </style>
</head>
<body>
<div id="diagramContainer"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ui-selectableScroll/0.1.4/selectableScroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.2.9/jsplumb.min.js"></script>
<script>
$(document).ready(function() {
    var ctrl_down = false;

    // Track if keyboard is pressed
    $(document).keydown(function(event) {
        if (event.which == 17) {
            // CTRL - track
            ctrl_down = true;
        }
    });

    // Track if keyboard is released
    $(document).keyup(function(event) {
        if (event.which == 17) {
            // CTRL - track
            ctrl_down = false;
        } else if (event.which == 27) {
            // ESC - clear selections
            $('.node_selected').each(function() {
                clearNode($(this));
            });
        }
    });

    // Manage nodes selection
    $(document).on('mouseup', '.node', function(event) {
        if (ctrl_down == true) {
            // CTRL is pressed -> toggle node selection
            toggleNode(this);
        }

        // Dragging
        if ($('.node_selected').length > 0) {
            $('.node_selected').each(function(index) {
                var position = $(this).position();
                updateNode($(this).attr('id'), position.left, position.top)
            });
        } else {
            var position = $(this).position();
            updateNode($(this).attr('id'), position.left, position.top)
        }

        // Do not fire parent event (clear selections)
        event.stopPropagation();
    });

    // Clear node selection
    function clearNode(node) {
        $(node).removeClass('node_selected');
        jsPlumb.removeFromDragSelection($(node));
    }

    // Select node
    function selectNode(node) {
        $(node).addClass('node_selected');
        jsPlumb.addToDragSelection($(node));
    }

    // Toggle node selection
    function toggleNode(node) {
        if ($(node).hasClass('node_selected')) {
            // Clear selection
            $(node).removeClass('node_selected');
            jsPlumb.removeFromDragSelection($(node));
        } else {
            // Select
            $(node).addClass('node_selected');
            jsPlumb.addToDragSelection($(node));
        }
    }

    // Get all nodes
    function getNodes() {
        var deferred = $.Deferred();
            $.ajax({
                dataType: 'json',
                timeout: 10000,
                type: 'GET',
                url: '/api/nodes'
            }).done(function(data) {
                deferred.resolve(data);
            }).fail(function(jqXHR, textStatus, errorThrown) {
                deferred.reject({
                status: 'fail',
                code: '500',
                message: textStatus
            });
        });
        return deferred.promise();
    }

    // Update node position
    function updateNode(node_id, node_left, node_top) {
        var deferred = $.Deferred();
        form_data = {
            'id': node_id,
            'left': node_left,
            'top': node_top
        };
        $.ajax({
            contentType: "application/json",
            data: JSON.stringify(form_data),
            dataType: 'json',
            timeout: 10000,
            type: 'PUT',
            url: '/api/nodes/' + node_id
        }).done(function(data) {
            deferred.resolve(data);
        }).fail(function(jqXHR, textStatus, errorThrown) {
            deferred.reject({
                status: 'fail',
                code: '500',
                message: textStatus
            });
        });
        return deferred.promise();
    }

    // Get all connections
    function getConnections() {
        var deferred = $.Deferred();
        $.ajax({
            dataType: 'json',
            timeout: 10000,
            type: 'GET',
            url: '/api/connections'
        }).done(function(data) {
            deferred.resolve(data);
        }).fail(function(jqXHR, textStatus, errorThrown) {
            deferred.reject({
                status: 'fail',
                code: '500',
                message: textStatus
            });
        });
        return deferred.promise();
    }

    // Draw network diagram
    $.when(getNodes(), getConnections()).done(function(response_nodes, response_connections) {
        if (response_nodes['status'] != 'success') {
            alert('Fail to get nodes (' + response_nodes['message'] + ')');
        } else if (response_connections['status'] != 'success') {
            alert('Fail to get connections (' + response_connections['message'] + ')');
        } else {
            // Disable text selection on labels
            $('.node_label').disableSelection();

            $.each(response_nodes['data'], function(key, value) {
                // Draw each node
                $('#diagramContainer').append('<div id="' + value['id'] + '" class="node" style="left: ' + value['left'] + 'px; top: ' + value['top'] + 'px"><div class="node_image"><img src="/static/images/' + value['image'] + '"/></div><div class="node_label">' + value['label'] + '</div>');
                // Align label to the center
                node_width = Math.round($('#' + value['id']).width());
                node_label_width = Math.round($('#' + value['id']).children('.node_label')[0].scrollWidth);
                $('#' + value['id']).children('.node_label').css({left: node_width / 2 - node_label_width / 2});
            });

            // Build the diagram
            jsPlumb.ready(function() {
                jsPlumb.importDefaults({
                    Anchor: 'Continuous',
                    Connector: ['Straight'],
                    Endpoint: 'Blank'
                });

                // Attach nodes under #diagramContainer
                jsPlumb.setContainer($('#diagramContainer'));

                // Makes node draggable
                jsPlumb.draggable($('.node'), {grid: [10, 10]});
                jsPlumb.batch(function() {
                    $.each(response_connections['data'], function(key, value) {
                        // Connect nodes
                        jsPlumb.connect({
                            source: value['source'],
                            target: value['destination'],
                            overlays: [
                                ['Label', {label: value['source_if'], location: 0.25, cssClass: 'node_interface_label'}],
                                ['Label', {label: value['destination_if'], location: 0.75, cssClass: 'node_interface_label'}]
                            ]
                        });
                    });
                });
            });
        }
    }).fail(function(response) {
        alert('Fail to get data (' + response['message'] + ')');
    });
});
console.log("EOF")
</script>
</body>
</html>
